
<div id="content">
		<form action ="/contacts/<%= @contact.id %>" method="post" class="pure-form pure-form-aligned">
		    <fieldset>
		    	<input type="hidden" name="_method" value="put">

		    	<div class="pure-control-group">
		    	<label for="first_name">First Name </label>
		        <input name="first_name" type="text" value="<%= @contact.first_name %>" required>
		        </div>
		        <div class="pure-control-group">
		        <label for="last_name">Last Name </label>
		        <input name="last_name" type="text" value="<%= @contact.last_name %>" required>
		        </div>
		        <div class="pure-control-group">
		        <label for="email">Email </label>
		        <input name="email" type="email" value="<%= @contact.email %>" required>
				</div>
				<div class="pure-controls">
		        <button type="submit" name="Submit" class="pure-button pure-button-primary">Modify Contact</button>
		        </div>
		    </fieldset>
		</form>
	</div>



