<!--
<div id="object" class="slideDown">
<ul id="jimmy">
<li> <a href="/contacts/new">Add Contact</a></li>
<li> <a href="/contacts">Display Contacts</a></li>
</ul>
</div> -->
<header>



</header>


<a class="" href="/contacts/new">
<button class="pure-button">
    <i class="fa fa-user-plus"></i>
    Add a Contact
</button>

<a class="" href="/contacts">
<button class="pure-button">
    <i class="fa fa-user"></i>
    Display Contacts
</button>


