
<div id="object" class="slideDown">
<ul id="jimmy">
<li> <a href=>Add Contact</a></li>
<li> <a href="">Modify Existing Contact</a></li>
<li> <a href="">Delete Contact</a></li>
<li> <a href="">Display Contacts</a></li>
<li> <a href="">Display Attribute</a></li>
<li> <a href="">Exit</a></li>
</ul>
</div>

