 body {
 	font-family: 'Lato';
  background: #181816;
	font-size: 20px;
	text-align:center;
	color: white;

}


h1 {
letter-spacing: 80px;
font-size: 80px;
color:green;
position: relative;
color: rgba(0,0,0,0.6);
text-shadow:
2px 8px 6px rgba(0,0,0,0.2),
0px -5px 35px rgba(255,255,255,0.3);
outline: 5px solid #CCCCCC;
outline-offset: 2px;


}

#jimmy li {
    list-style-type: none;
    left-margin;
    font-family: 'Rokkitt';
    color: #d7ceb2;
    letter-spacing: 2.5px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px
    rgba(255,255,255,0.1);


}

#jimmy a {
text-decoration: none;

}


a:hover {
color:#cf8a05;
}

#delete div {
  position:absolute;
  float:right;
  list-style-type: none;
}

#content  {
  margin:auto;
  width:100%;
  position:relative;
  top:20px;
  list-style-type: none;
}

.pure-table {
  margin:auto;
  position:relative;
  top:20px;
  list-style-type: none;

}

#contact-text li{
list-style-type: none;
{




