 body {
 	font-family: 'Lato';
  background: #181816;
	font-size: 40px;
	text-align:center;
	color: white;

}

#head  h1 {
color:green;
position: relative;
right:-20px;
color: rgba(0,0,0,0.6);
text-shadow:
2px 8px 6px rgba(0,0,0,0.2),
0px -5px 35px rgba(255,255,255,0.3);

}

#jimmy li {
    list-style-type: none;
    left-margin;
    font-family: 'Rokkitt';
    color: #d7ceb2;
    letter-spacing: 2.5px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px
    rgba(255,255,255,0.1);


}

#jimmy a {
text-decoration: none;

}

a:hover {
color:#cf8a05;
}


















.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}